body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(68, 67, 70);
  margin: 0;
}

.container {
  width: 30%;
  max-width: 450px;
  min-width: 300px;
  padding: 1rem;
  box-shadow: 8px -8px 16px #2c2b2b, -8px 8px 16px #2c2b2b;
  background-color: #1d1919;
}

.screen {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  overflow: auto;

  .display,
  .total {
    color: #d4d4d2;
  }

  .display,
  .total {
    border: none;
    border-radius: 0;
  }

  .total {
    text-align: right;
    font-size: 3rem;
  }

  input {
    padding: 0.8rem;
    font-size: 2rem;
    background-color: rgb(65, 65, 65);
  }
}

.keys {
  width: 100%;
  display: flex;
  flex-direction: column;

  .row1,
  .row2,
  .row3,
  .row4,
  .row5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
  }

  .row1 {
    button:not(:last-of-type) {
      background-color: #d4d4d2;
      color: black;
    }
  }
  .row6 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button:first-of-type {
      width: 50%;
      font-weight: bold;
    }
  }

  button {
    width: 20%;
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    font-weight: 500;
    background-color: #505050;
    color: white;
  }

  button:last-of-type {
    background-color: #ff9500;
    font-weight: bold;
  }
}
